html,body{
	background: #F3F5F8;
	height: 100%;
}
.loginmain{
	background: url(../img/bg.jpg) no-repeat;
	height: 100%;
	background-size:cover;
}
.left_user{
	position: fixed;
	background: url(../img/bg.jpg) no-repeat;
	width: 610px;
	height: 100%;
	background-position: -600px 0px;
}
.search{
	border: none;
	padding-left: 5px;
	border-radius: 10px;
	width: 200px;
	height: 20px;
	font-size: 20px;
	display: block;
	margin:20px auto;
	color: green;
}
.message a{
	margin:0 auto;
	display: block;
	text-decoration: none;
}
.user_head{
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	overflow: hidden;
	margin: 75px auto;
}
.user_head img{
	width: 100px;
	height: 100px;
}
.user_info{
	line-height: 20px;
	color: #FFF;
	width: 350px;
	margin: 0 auto;
}
.right_article{
	background: #F3F5F8;
	width: 1193px;
	margin-left: 610px;
	padding: 50px;
}
.usermessage{
	padding: 20px;
	width: 917px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px auto;	
	box-shadow: 0px 0px 50px #ccc;
}
.usermessage input,.usermessage p{
	border: none;
	height: 50px;
	font-size: 30px;
	margin-left: 50px;
}
.usermessage textarea{
	margin-top: 30px;
	resize: none;
	font-size: 40px;
	border: none;
}
.issue{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 10px;
}
.message_head{
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
}
.message_head img{
	width: 60px;
	height: 60px;
}
.user_article{
	width: 1000px;
	height: 200px;
}
.user_title h2{
	font-size: 30px;
	font-weight: normal;
}
.user_title p{
	margin-top: 20px;
}
.user_description p{
	margin:20px 0 0 0px;
	color: #666;
	line-height: 30px;
}
.user_description{
	width: 100%;
	height: 100%;
	cursor: pointer;
}



.login{
	position:absolute;
	top:50%;
	left:50%;
	margin:-150px 0 0 -200px;
	width: 363px;
	height: 304px;
	background: #fff;
	box-shadow: 0 0 20px #999;
}
.register{
	position:absolute;
	top:50%;
	left:50%;
	margin:-150px 0 0 -200px;
	width: 363px;
	height: 374px;
	background: #fff;
	box-shadow: 0 0 20px #999;
}
.register .verify{
	width: 160px;
}
.login{
	position:absolute;
	top:50%;
	left:50%;
	margin:-150px 0 0 -200px;
	width: 363px;
	height: 304px;
	background: #fff;
	box-shadow: 0 0 20px #999;
}
.login form,.register form{
	margin: 0 auto;
	width: 272px;
	height: 182px;
}
.login form input,.register form input{
	line-height: 10px;
	margin-top: 25px;
	border:none;
	background-color: #EFEFEF;
	height: 50px;
	line-height: 50px;
	width: 260px;
	padding-left: 10px;
}
input:-webkit-autofill{
	 box-shadow: 0 0 0px 1000px white inset !important;
}
.login form button,.register form button{
	margin-top: 15px;
	background: #6599D5;
	border: none;
	height: 50px;
	display: block;
	width: 270px;
	color: #fff;
}
.login form p,.register form p{
	font-size: 12px;
	line-height: 80px;
	text-align: center;
}
.login form span,.register form span{
	position: absolute;
	text-align: center;
	display: inline-block;
	margin-top: 5px;
	font-size: 12px;
	color: red;
}
.login form p a,.register form p a{
	color: #6599D5;
	text-decoration: none;
}
.register img{
	float: right;
	margin-top:20px;
}